/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/

div {
    width: 100%;
    height: 100%;
    background-color: aqua;
}
table {

 
}
h1 {
    color: blue;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
    
}
.box {
    height: 100px;
    background-color: aqua;
}
td {
    height: 100px;
    width: 100px;
    alignment-adjust: middle;
    text-align: center;
}

.hit {
    visibility: hidden;
}

#a00, #1, #a{
    background: orange;
    color: black;
}

.outer {
    background-color: orange;
    color: white;
}
.laser {
    color:white;
    background-color: blue;
}